$transition_simple : all 0.8s ease-in-out;
$headerHeight : 200px;

// Animation
$easing: ease-in-out;
$ts-short: all 0.15s $easing;
$ts: all 0.25s $easing;
$ts-long: all 0.45s $easing;
$scaleRatio: 1.05;