#groovy_template h1,
#groovy_template h2,
#groovy_template h3,
#groovy_template h4,
#groovy_template h5,
#groovy_template h6,
#groovy_template span:not(.glyphicon),
#groovy_template p,
#groovy_template label,
#groovy_template .help-block,
#groovy_template .menu_list li a,
#groovy_template .menu_list li ,
#groovy_template .dataTables_wrapper .dataTables_info
{
	font-family: roboto;
	color : rgb(141,141,141);
}
body
{
	font-family: roboto;
	color : rgb(141,141,141);
}
#wpwrap
{
	background: #eef2f5;
}
#adminmenumain
{
	display: none;
}
#wpfooter
{
	display: none;
}
#wpcontent
{
	margin-left: 0 !important;
}

.fade
{
	display: none;
}
#groovy_template #headerpage {
    text-align: left;
		height: 69px;
    max-height: 69px;
		background: linear-gradient(192deg, #33a5bc 0%,#2989d8 99%);
}


#groovy_template #logo_menu_left
{
			padding: 15px;
	    margin: -15px;
	    margin-bottom: 0;
			height: 69px;
	    max-height: 69px;
			display: flex;
    	background-size: cover;

      background: linear-gradient(119deg, #33a5bc 0%,#2989d8 99%);
			}
#groovy_template #logo_menu_left #content_logo
{
			padding: 0;
    	margin: auto;
}
#groovy_template #logo_menu_left #content_logo img
{
	box-shadow: 0 0 4px #0d6691;
	    border-radius: 3px;
}

#groovy_template #logo_menu_left #content_text_logo
{
			display: flex;
    	margin: auto;
}
#groovy_template #logo_menu_left #content_text_logo img
{
			width: 100%;
	    height: auto;
	    box-shadow: 0 0 5px #3a3a3a;
}
#groovy_template #logo_menu_left #content_text_logo span
{
			color: white;
			font-size: 18px;
    	font-family: roboto;
}
#groovy_template #headerpage .titles_header h1 {
    font-size: 20px;
    margin-top: 25px;
		text-align: left;
}
#groovy_template #headerpage .titles_header h2 {
			font-size: 17px;
	    margin-top: 25px;
			text-align: left;
			text-shadow: none !important;
}
#groovy_template #sp_menu_left {

    background: #313538;
		border-left: #000 solid 1px;
		overflow: scroll;
		padding-bottom: 60px !important;
}
#groovy_template .menu_list li i
{
		margin-right: 5px;
}
#groovy_template #top-content-groovy > div
{
	width : 100%;
}
#groovy_template #sp_menu_left .menu_list li.selected
{
		background: linear-gradient(192deg, #33a5bc 0%,#2989d8 99%);
		color : white;
}
#groovy_template #sp_menu_left .menu_list li.selected a,
#groovy_template #sp_menu_left .menu_list li.selected i
{
		color : #e4e4e4;
}

#groovy_template #sp_menu_top .menu_list li {
	float: left;
	    padding: 20px 20px;
	    font-size: 14px;
	    margin-bottom: -1px;
}
#groovy_template #sp_menu_top .menu_list li.selected {
			border-bottom: 4px solid #5b9dd9;
}
#groovy_template #sp_menu_top .menu_list li.selected a,
#groovy_template #sp_menu_top .menu_list li.selected i
{

		color : #5b9dd9;
}
#groovy_template .well {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
	background: white;
	border-radius: 1px;
	border : none;
}
#groovy_template .schema-form-tabarray .ng-scope
{
	padding : 0;
}
#groovy_template .schema-form-tabarray .ng-scope .nav-tabs
{
	    margin-left: -20px;
}
#groovy_template .schema-form-tabarray .ng-scope .nav-tabs > li
{
	   width: 100%;
}
#groovy_template .schema-form-tabarray .ng-scope .nav-tabs > li a
{
	margin-right: 0;
	border-radius: 0;
	color: rgb(141,141,141);
	border-right: 0px;
}
#groovy_template .schema-form-tabarray .tab-content
{
	padding: 0 15px;
	border-left: 1px solid #ccc;
	margin-left: -15px;
}
#groovy_template .has-success .form-control {
    border-color: #a5cd9a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#groovy_template #sp_return_wordpress
{
	color : white;
	position: absolute;
	right : 10px;
	top : 10px;
	opacity: 0.5;
	font-size: 10px;
}
.dataTables_wrapper  .dt-button
{
	padding: 8px 15px;
	margin: 15px;
	border-radius : 3px;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.dataTables_wrapper  .dt-button span
{
	color : white !important;
}
.dataTables_wrapper
{
	padding-top: 15px;
}
table.dataTable thead,
table.dataTable tbody,
table.dataTable thead tr th
{
	border-color : rgb(228,228,228);
}
table.dataTable .row-border tbody tr:last-child td,
table.dataTable .row-border thead
 {
    border-bottom: 1px solid rgba(0,0,0,.12);
}
table.dataTable.no-footer {
    border-bottom: none;
}
table.dataTable tbody td:first-child {
    padding-left: 24px;
}
table.dataTable tbody td:last-child {
    padding-right: 24px;
}
table.angular_table tr
{
	cursor : pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #FFF;
    border: 1px solid rgba(0,0,0,.12);
    padding: 9px 12px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background-color: #5bc0de;
	background: #5bc0de;
	border-color: #46b8da;
	color : white !important;
}
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate
{
	margin-top: 20px;
}
