#groovy_template h1,
#groovy_template h2,
#groovy_template h3,
#groovy_template h4,
#groovy_template h5,
#groovy_template h6,
#groovy_template span,
#groovy_template p,
#groovy_template label,
#groovy_template .help-block,
#groovy_template .menu_list li a
{
	font-family: roboto;
	color : rgb(141,141,141);
}
#wpwrap
{
	background: #E2E8F7;
}
#wpfooter
{
	display: none;
}

.fade
{
	display: none;
}
#groovy_template #headerpage {
    text-align: left;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
		height: 85px;
    max-height: 85px;
}


#groovy_template #logo_menu_left
{
			padding: 15px;
	    margin: -15px;
	    background: #565656;
	    margin-bottom: 0;
	    border-bottom: 1px solid #000;
			height: 85px;
    	max-height: 85px;
			display: flex;
}

#groovy_template #logo_menu_left #content_logo
{
			padding: 0;
    	margin: auto;
}
#groovy_template #logo_menu_left #content_logo img
{
			box-shadow: 0 0 19px #171529;
}

#groovy_template #logo_menu_left #content_text_logo
{
			display: flex;
    	margin: auto;
}
#groovy_template #logo_menu_left #content_text_logo img
{
			width: 100%;
	    height: auto;
	    box-shadow: 0 0 5px #3a3a3a;
}
#groovy_template #logo_menu_left #content_text_logo span
{
			color: white;
			font-size: 18px;
    	font-family: roboto;
			text-shadow: 0 0 1px #191919;
}
#groovy_template #headerpage .titles_header h1 {
    font-size: 20px;
    margin-top: 25px;
}
#groovy_template #headerpage .titles_header h2 {
			font-size: 17px;
	    margin-top: 10px;
}
#groovy_template #sp_menu_left {

    background: #313538;
		border-left: #000 solid 1px;
}
#groovy_template .menu_list li i
{
		margin-right: 5px;
}

#groovy_template .menu_list li.selected
{
		background: #00131d;
		color : white;
		border-bottom: 1px solid #464444;
}
#groovy_template .menu_list li.selected a,
#groovy_template .menu_list li.selected i
{
		color : #e4e4e4;
}

#groovy_template .well {

    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#groovy_template .schema-form-tabarray .ng-scope
{
	padding : 0;
}
#groovy_template .schema-form-tabarray .ng-scope .nav-tabs
{
	    margin-left: -20px;
}
#groovy_template .schema-form-tabarray .ng-scope .nav-tabs > li
{
	   width: 100%;
}
#groovy_template .schema-form-tabarray .ng-scope .nav-tabs > li a
{
	margin-right: 0;
	border-radius: 0;
	color: rgb(141,141,141);
	border-right: 0px;
}
#groovy_template .schema-form-tabarray .tab-content
{
	padding: 0 15px;
	border-left: 1px solid #ccc;
	margin-left: -15px;
}
.masonry-brick {
   width:25%;/*or others percents*/

   /*following properties, fix problem*/
   margin-left:-1px;
   transform:translateX(1px);
}
