// Queries Size
// xs -- col
$w1 : "screen and (max-width: 576px)";
// Small -- col-sm
$w2 : "screen and (max-width: 640px)";
// Medium -- col-md
$w3 : "screen and (max-width: 768px)";
// Large -- col-lg
$w4 : "screen and (max-width: 992px)";
// Extra Large -- col-xl
$w5 : "screen and (min-width: 1200px)";
