<div class="well">



      <h4>Information autour du partenaire : #ID : {{ ID }} - {{ fullName }} </h4>
    <hr>
      <h5>Informations locales</h5>

      <p><b>Somme</b> : {{ amount }} € / mois</p>
      <p><b>Nom de l'entreprise</b> : {{ name }}</p>
      <p><b>Contact Prénom</b> : {{ contact_main_first_name }}</p>
      <p><b>Contact Nom</b> : {{ contact_main_name }}</p>
      <p><b>Email</b> :{{ email_user }}</p>
      <p><b>Date de création</b> :{{ post_date }}</p>
      <p><b>Adresse</b> : {{ addr_geocode }}</p>
      <p><b>Contact</b> : {{ mainContactName }}</p>

  <hr>

      <h5>Informations Stripe</h5>
      {% if id_customer %}

      <p><b>ID Customer</b> : {{id_customer}}</p>
      
      {% else %}
      Aucune informations Stripe
      {% endif %}
  <hr>

      <a target="_blank" href="{{front_url}}"  class="btn btn-success">
          Page de facturation
      </a>

      <button id="resend_mail" class="btn btn-info">
          Renvoyer un mail de demande
      </button>

</div>
