
<div id="logo_menu_left">
		<div id='content_logo' class="col-md-3">
			<img class='img-responsive' src="{{logo_url|raw}}" alt="logo">
		</div>
		<div id='content_text_logo' class="col-md-9">
		  	<span>{{site_name|e}}</span>
		</div>
</div>

{% verbatim %}

<div class='menu_list' ng-controller="menu_left">
			<ul  ng-repeat="(key, items_menu) in items_menu_filted">
				<span class="categorie"> {{key}} </span>

				<li ng-repeat="item in items_menu">

					<a href="{{item.url}}">
						<i class='fa {{item.icon}}'></i>
						{{item.name}}
</a>
				</li>

			</ul>
</div>

{% endverbatim %}
