
<div id="logo_menu_left">
		<div id='content_logo' class="col-md-3">
			<img class='img-responsive' src="{{logo_url|raw}}" alt="logo">
		</div>
		<div id='content_text_logo' class="col-md-9">
		  	<span>SALVA POWA</span>
		</div>
</div>

<ul class='menu_list'>

	{% for menu_item in menu_list %}

		{% if menu_item.show_in_menu  %}

			<li class="
			{% if menu_item.selected == true %}
	    selected
			{% endif %}
			">
				<a href="?page=salva_powa&module={{menu_item.slug|raw}}">
					<i class='fa {{menu_item.icon|raw}}' aria-hidden="true"></i>
					{{menu_item.name|raw}}
				</a>
			</li>

		{% endif %}

	{% endfor %}

</ul>
