
<div id="logo_menu_left">
		<div id='content_logo' class="col-md-2">
			<img class='img-responsive' src="{{logo_url|raw}}" alt="logo">
		</div>
		<div id='content_text_logo' class="col-md-9">
		  	<span>{{site_name|e}}</span>
		</div>
</div>

{% verbatim %}

<div class='menu_list' ng-controller="menu_left">
			<ul  ng-repeat="(key, items_menu) in items_menu_filted">
				<span class="categorie"> {{key}} </span>

				<li ng-click="change_page(item)"
				ng-class="{selected: current_module.slug==item.slug}"
				ng-repeat="item in items_menu">

						<i class='fa {{item.icon}}'></i>
						{{item.name}}

				</li>

			</ul>
</div>

{% endverbatim %}
