
@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    src: url('/assets/fonts/Helvetica.ttf'),
    url("/assets/fonts/Helvetica.woff") format("woff");
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    src: url('/assets/fonts/HelveticaNeue.ttf'),
    url("/assets/fonts/HelveticaNeue.woff") format("woff");
}

@font-face {
    font-family: 'HelveticaBold';
    font-style: bold;
    src: url('/assets/fonts/HelveticaBold.ttf'),
    url("/assets/fonts/HelveticaBold.woff") format("woff");
}

@font-face {
    font-family: 'HelveticaNeueCondensed';
    font-style: normal;
    src: url('/assets/fonts/HelveticaNeueCondensed.ttf'),
    url("/assets/fonts/HelveticaNeueCondensed.woff") format("woff");
}
html, body{
  font-family: Helvetica, HelveticaNeueCondensed, arial;
}
h1{
  color : $yellow;
  font-family: 'HelveticaNeueCondensed';
}
h2{
  font-family: 'HelveticaNeueCondensed';
}
.condensed{
    font-family: 'HelveticaNeueCondensed';
}
.bold{
  font-weight: bold;
  font-family: HelveticaNeueCondensed;
}
.boldE{
  font-weight: bold;
  font-family: HelveticaNeueCondensed;
}
.italic{
  font-style: italic;
}
.colorYellow
{
  color : $yellow;
}
.colorRed
{
  color : $red;
}
.textaligncenter{
  text-align: center;
}
.textalignleft{
  text-align: left;
}
.cursorpointer{
  cursor: pointer;
}
.maj{
  text-transform: uppercase;
}
.input[type="checkbox"] + label{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.btnYellow{
  background: $yellow;
  color: white;
  border : none;
  padding: 10px 30px;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  @include transition($ts);
  &:hover{
      transform: scale($scaleRatio);
      color : white;
      text-decoration: none;
  }

  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
    color: white;
  }
}

button.btnYellow,
a.btnYellow {
  background: none;
  position: relative;
  z-index: 0;

  &:hover {
    @include transform(scale(1));

    &:before {
      @include transform(scale($scaleRatio));
    }

    &:after {
      width: 100%;
      right: inherit;
      left: 0;
      @include transform(scale($scaleRatio));
    }
  }

  &:focus {
    @include transform(translate(2px, 2px));
    @include transition(none);
  }

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    @include transition($ts);
    width: 100%;
    height: 100%;
    background: $yellow;
    z-index: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: darken($yellow, 5%);
    @include transition(width 0.25s $easing, transform 0.25s $easing);
  }
}

.separator{
  width: 353px;
  height: 24px;
  background-image: url(/assets/images/separator.png);
  background-size: 100% auto;
  display: inline-block;
  margin: 25px 0;
  max-width: 100%;
}

#contain-main{
    padding-bottom: 60px;
}
#contain-main{
}
