
<script>

angular.module('a{{slug}}', ['schemaForm'])
       .controller('{{slug}}_controler', function($scope) {



	$scope.send = function()
	{
			save = sp_ajax_controller;

			save.args = $scope.model;

			save.action_ajax = 'update-sp';

			save.send();

			console.log( save.content_return );
	}

  $scope.schema = {{schema | json_encode | raw }};
	$scope.form = {{form | json_encode | raw }};
  $scope.model = {{model | json_encode | raw }};

});



</script>


<div ng-app="a{{slug}}">

<div ng-controller="{{slug}}_controler">
		<form sf-schema="schema" sf-form="form" sf-model="model"></form>
		<input type='hidden' id='model' value='{{model}}'>
		<button type="button" class='btn btn-raised btn-success' ng-click="send()">Save</button>
</div>

</div>
