<div class="row">

	<div class="col-md-6">

		<div class="well">

			<h4>Liste des abonnements disponibles</h4>
			<table id="list_plans_stripe" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Somme</th>
						<th>Nom</th>
					</tr>
				</thead>
			</table>

		</div>

	</div>

	<div class="col-md-6">

		<div class="well">
			<h4>Liste des abonnés</h4>
			<table id="list_plans_subscription" width="100%">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nom</th>
						<th>Email</th>
					</tr>
				</thead>
			</table>

		</div>

	</div>

</div>
